<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>Thêm 1 thằng học lại</h1>
<form action="/create" method="post">
    <label>Học và tên:<input type="text" name="name"></label><br>
    <label>Địa chỉ<input type="text" name="address"></label><br>
    <label>Điểm<input type="text" name="scores"></label><br>
    <label>Lớp</label>:<input type="text" name="Class"></label><br>
    <label>Giới tính<input type="text" name="sex"></label><br>

    <button type="submit">Thêm mới</button>
</form>
</body>
</html>