<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sửa thông tin</title>
</head>
<body>
<h1>thi lại à mà sửa</h1>
<div>
    <div>
        <form method="post">
            <div class="mb-3">
                <label for="nameEdit" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" id="nameEdit" value="{name}" name="name">
            </div>
            <div class="mb-3">
                <label for="editAddress" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="editAddress" value="{address}" name="address">
            </div>
            <div class="mb-3">
                <label for="editScores" class="form-label">Điểm</label>
                <input type="text" class="form-control" id="editScores" value="{scores}" name="scores">
            </div>
            <div class="mb-3">
                <label for="editClass" class="form-label">lớp</label>
                <input type="text" class="form-control" id="editClass" value="{Class}" name="Class">
                <div></div>
            </div>
            <div class="mb-3">
                <label for="editSex" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" id="editSex" value="{sex}" name="sex">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>